# Listen port
PORT=3000

# Env
NODE_ENV=development

# API key for downloading GTFS realtime data
SAMTRAFIKEN_API_KEY=
SAMTRAFIKEN_API_URL=https://opendata.samtrafiken.se/gtfs-rt-sweden/varm/VehiclePositionsSweden.pb

# API key for downloading static data
SAMTRAFIKEN_STATIC_KEY=
SAMTRAFIKEN_STATIC_URL=https://opendata.samtrafiken.se/gtfs-sweden/sweden.zip

# Comma separated list of agency ids. From data/sweden/agency.txt
AGENCIES=505000000000000017,505000000000000655,505000000000000715,505000000000000760

# Refresh interval in millseconds. Can not be lower than 2000.
VITE_REFRESH_INTERVAL=5000
